{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/friendfunding.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <title>Friend-Funding</title>
  </head>
  <body>
    <nav>
      <ul class="ulNav">
        <li class="liNav" id="titleNav">
          <div class="title">
            <span data-text="F">F</span>
            <span data-text="R">R</span>
            <span data-text="I">I</span>
            <span data-text="E">E</span>
            <span data-text="N">N</span>
            <span data-text="D">D</span>
            <span data-text="F">F</span>
            <span data-text="U">U</span>
            <span data-text="N">N</span>
            <span data-text="D">D</span>
            <span data-text="I">I</span>
            <span data-text="N">N</span>
            <span data-text="G">G</span>
          </div>
        </li>
        <li class="navTabs">
          <a href="/" class="aNav">Users</a>
          <a href="/goal" class="aNav">Goals</a>
        </li>
      </ul>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
