{% extends 'friendfunding/base.html' %}  {% block content %}

<h2>{{user.name}} <a href="{% url 'user_edit' pk=user.pk %}">(edit)</a></h2>
<h2>Goal: {{user.description}}</h2>
<h2>Amount Saved: {{user.amountsaved}}</h2>
    <img src="{{ user.photo_url }}" alt="" class="user-photo" />
    <a href="{% url 'user_delete' pk=user.pk %}">Delete</a>
    
    <h3>goals <a href="">(+)</a></h3>
    <ul>
        {% for goal in User.goals.all %}
        <li>
            <a href="{% url 'goal_detail' pk=goal.pk %}">
                {{ user.name }} -- {{user.amountsaved}} 
            </a>
        </li>
        {% endfor %}
    </ul>

    {% endblock %}