{% extends 'friendfunding/base.html' %} {% block content %}

<h2 class="goalTitle">{{user.name}}</h2>
<a href="{% url 'user_edit' pk=user.pk %}" class="editButton">Edit</a>

<h2 class="goalDetail">Description: {{user.description}}</h2>
<h2 class="goalDetail">Amount Saved: {{user.amountsaved}}</h2>

<a href="{% url 'user_delete' pk=user.pk %}" class="deleteButton">Delete</a>

<!-- <h3>Goals <a href="">(+)</a></h3> -->
<ul>
  {% for goal in User.goals.all %}
  <li>
    <a href="{% url 'goal_detail' pk=goal.pk %}">
      {{ user.name }} -- {{user.amountsaved}}
    </a>
  </li>
  {% endfor %}
</ul>

{% endblock %}
